.header-button {
    @apply cursor-pointer
        transition
        p-12px
        rounded-14px;

    color: rgba(var(--neutral), 1);

    &:hover {
        background: rgba(var(--secondary), 0.2);
        color: rgba(var(--primary), 1);
        fill: rgba(var(--primary), 1);
    }
}
