.icon-btn-container {
    @apply transition w-7 h-7 flex items-center justify-center rounded-3xl;

    .icon-btn {
        @apply cursor-pointer text-lg;
        color: rgba(var(--neutral), 0.6);
    }

    &:hover {
        background: rgba(var(--background), 0.8);

        .icon-btn {
            color: rgba(var(--primary), 1);
        }
    }
}
