.icon-btn-container {
    @apply transition
        w-28px
        h-28px
        flex
        items-center
        justify-center
        rounded-4xl
        hover:bg-background;
}

.icon-btn {
    @apply cursor-pointer
        text-lg
        text-opacity-60
        text-neutral
        hover:text-primary
        hover:text-opacity-100;
}
