.list-item-text {
    width: calc(100% - 28px);
    @apply truncate;
}

.list-item {
    @apply transition pl-6 pr-2 h-14 py-4 no-underline text-sm flex justify-between items-center;

    &.active {
        @apply text-nord10;
    }

    &.inactive {
        color: rgba(var(--neutral), 0.6);
    }
}

.list-item-container {
    @apply transition cursor-pointer rounded-lg;

    &.active {
        background: rgba(var(--secondary), 0.12);
    }

    &.not-dragging:hover {
        background: rgba(var(--primary), 0.38);

        .list-item {
            color: rgba(var(--primary), 1);
        }
    }
}
