.list-item-text {
    width: calc(100% - 28px);
    @apply truncate;
}

.list-item {
    @apply transition
        block
        pl-24px
        pr-8px
        h-56px
        py-18px
        no-underline
        text-sm
        flex
        justify-between
        items-center;

    &.active {
        @apply text-primary;
    }

    &.inactive {
        color: rgba(var(--neutral), 0.6);
    }
}

.list-item-container {
    @apply transition cursor-pointer rounded-8px;

    &.active {
        background: rgba(var(--secondary), 0.12);
    }

    &.not-dragging:hover {
        background: rgba(var(--primary), 0.38);
        .list-item {
            color: rgba(var(--primary), 1);
        }
    }
}
