.header {
    @apply leading-24px
        cursor-pointer
        no-underline
        text-sm;

    &.active {
        @apply text-primary;
    }

    &.inactive {
        color: rgba(var(--neutral), 0.6);
    }
}

.list-container {
    @apply transition
        cursor-pointer
        rounded-8px
        transition
        py-18px
        pl-24px
        pr-8px
        flex
        justify-between
        items-center
        hover:text-primary;

    &.active {
        background: rgba(var(--secondary), 0.12);
    }

    &.not-dragging:hover {
        background: rgba(var(--primary), 0.38);

        .header {
            color: rgba(var(--primary), 1);
        }
    }
}

.button-group {
    @apply flex items-center gap-4px;
}
