.header-container {
    @apply flex h-6;

    width: calc(100% - 28px);

    &.active {
        width: calc(100% - 60px);
    }
}

.header {
    @apply leading-6 cursor-pointer no-underline w-full truncate text-sm;

    &.active {
        @apply text-nord10;
    }

    &.inactive {
        color: rgba(var(--neutral), 0.6);
    }
}

.list-container {
    @apply transition cursor-pointer rounded-lg py-4 pl-6 pr-2 flex justify-between items-center truncate w-full hover:text-nord10;

    &.active {
        background: rgba(var(--secondary), 0.12);
    }

    &.not-dragging:hover {
        background: rgba(var(--primary), 0.38);

        .header {
            color: rgba(var(--primary), 1);
        }
    }
}

.button-group {
    @apply flex items-center gap-1 flex-shrink-0;
}
