.container {
    @apply font-sans transition duration-500 shadow-lg rounded-[28px] fixed left-6 top-6 bg-white p-3 flex justify-between items-center gap-2;

    color: rgba(var(--primary), 1);
    left: 50%;
    transform: translateX(-50%);

    &.hide {
        transform: translateY(-100px) translateX(-50%);
    }

    .icon {
        @apply transition w-7 h-7 flex items-center justify-center rounded-3xl cursor-pointer;

        &:hover {
            background: rgba(var(--background), 0.8);
            color: rgba(var(--primary), 1);
        }
    }
}
