.milkdown {
    height: calc(100vh - 64px - 30px);
    overflow: auto;

    .code-inline {
        background: rgba(var(--primary), 0.8);
    }
}

.milkdown-wrapper {
    width: calc(100% - 255px);
}
