* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.mobile-nav {
    @apply fixed
        transition
        left-0
        top-0
        bottom-0
        w-255px
        z-10;

    &.fold {
        transform: translateX(-100%);
    }
}

.mobile-mask {
    @apply fixed
        top-0
        bottom-0
        left-0
        right-0
        w-full
        h-full
        z-1
        flex
        items-center
        justify-center;

    background: rgba(var(--shadow), 0.8);
}

.Resizer {
    background: rgba(var(--line));
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(129, 161, 193, 0.7);
    border-bottom: 5px solid rgba(129, 161, 193, 0.7);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(129, 161, 193, 0.7);
    border-right: 5px solid rgba(129, 161, 193, 0.7);
}

.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover {
    border-color: transparent;
}
