name: ci

on:
    pull_request:
    push:
        branches: main

env:
    CI: true
    PNPM_CACHE_FOLDER: .pnpm-store
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code repository
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: setup node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 15.x
            - name: install pnpm
              run: npm i pnpm@latest -g
            - name: load cache
              uses: actions/cache@v2
              with:
                  path: |
                      ./.pnpm-store
                  key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
                  restore-keys: |
                      ${{ runner.os }}

            - name: creating .npmrc
              run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
            - name: setup pnpm config
              run: pnpm config set store-dir $PNPM_CACHE_FOLDER

            - name: install dependencies
              run: pnpm install
            - name: build
              run: pnpm build
            - name: test
              run: pnpm test:tsc

            - name: create versions or publish to npm registry
              uses: changesets/action@v1
              with:
                  publish: pnpm release
                  commit: 'ci(changeset): release vite-plugin-book'
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: build doc
              run: pnpm run build --filter=gh-pages

            - name: deploy to pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: gh-pages/dist
